#connexion{
	color: white;
	font-size: 25px;
	margin-left: 3px;
}

#connexion:hover{
	text-decoration: none;
	color: black;
}

.container{
	height: auto;
}

#copyright{
	color: white;
	width: 100%;
}

h5{
	color: white;
}

hr{
	background-color: white;
}

html, body{
	margin: 0;
	display: table;
	height: 100%;
	width: 100%;
}

.liFooter{
	color: white;
}

.liFooter:hover {
	color: white;
}

#tabs{
	width: 100%;
}

#userLogo{
	font-size: 48px; 
	color: white;
}

#userLogo:hover{
	color: black;
}
	
	
	