#copyright{
	color: white;
	width: 100%;
}

h5{
	color: white;
}

hr{
	background-color: white;
}

.liFooter{
	color: white;
}

.liFooter:hover {
	color: white;
}

#tabs{
	width: 100%;
}	
	
	